@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
  

$c1: #000;
$c2: #ffffff;
$c3: #00612e;
$c4:#f0e4d1;
$c5:#948145;
$c6: #0066ff;
$c7: #00ccff;


$f1:'Raleway', sans-serif;
$f2:'Roboto Mono', monospace;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: $f1;
    overflow-x: hidden;
}
section {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    padding-top: 50px;
    line-height: 2.5;
    transition-duration: 2s;
    font-size: 14px;
     img {
        @include responsive-image;
    }
}
// ul {
//     list-style: none;
// }
// ol {
//     list-style: 1;
// }