header {
    background-image:url(../image/black_college.jpeg);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .nav {
        background-color: $c1;
        height: 15vh;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            height: 30px;
            width: 180px;
        }
        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            a {
                color: $c2;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 800;
                &.apply-now-btn {
                    padding: 17px;
                    background-color: $c3;
                    width: 100px;
                    border-radius: 5px;
                    text-align: center;
                }    
            }
        }
    }
    .index-overlay {
        background: rgba($color: #000000, $alpha: 1.0);
        height: 100%;
        width: 100%;
        color: $c2;
        position: absolute;
        opacity: 0.9;
    }
    .description {
        color: $c2;
        margin: auto;
        position: relative;
        width: 45%;
        padding-top: 100px;
        text-align: center;
        line-height: 1.5;
        font-weight: 600;
        height: 100%;
        h1 {
            font-size: 45px;
        }
        .p1-description {
            padding-top: 20px;
            font-size: 20px;
        }
        .a1-description {
            @include button2;
        }
        .a2-description {
            @include button1;
        }
        .p2-description {
            font-size: 14px;
            color: $c5;

        }
        .p3-description {
            font-size: 10px;
            padding-top: 15px;
        }
    }
}
.intro-img {
    width: 30%;
    height: fit-content;
    img {
        width: 550px;
        height: 300px;
    }
}
#objectives {
    background-color: $c4;
}
.first-footer {
    background-color: $c4;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
        @include button1;
    }
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: $c3;
    color: $c2;
    line-height: 2.5rem;
    min-height: 85vh;
    padding-top: 5%;
    .div1-ft {
        width: 30%;
        img {
            height: 30px;
            width: 180px;
            ul {
                li {
                    list-style: none;
                }
            }
        }
    }
    .inner-div {
        width: 70%;
        display: flex;
        justify-content: space-around;
        .div4-ft {
            h2 {
                margin-bottom: 30px
            }
            a {
                @include button2;
            }
        }
    } 
}
